<div class="card" *ngIf="updatingProduct">
  <div
    class="card-body d-flex flex-column align-items-center loading-card-padding"
  >
    <p class="loading-p text-dark">Updating Product</p>
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Updating...</span>
    </div>
  </div>
</div>

<div
  class="card mt-2"
  (ngSubmit)="onSave()"
  [formGroup]="productForm"
  *ngIf="!updatingProduct"
>
  <div class="card-header"><i class="bi bi-pencil"></i> Edit Product</div>
  <div class="card-body">
    <form>
      <!-- TITLE -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control uppercase-text"
          id="titleInput"
          autocomplete="off"
          formControlName="title"
          [class]="fieldValidator.isValidField('title', productForm)"
        />
        <label for="titleInput">Product</label>
        <div
          class="invalid-feedback"
          *ngIf="productForm.get('title')?.errors?.required"
        >
          This field is required.
        </div>
      </div>

      <!-- IMAGE -->
      <div class="d-flex flex-column mb-3">
        <label for="formFile" class="label-img mb-2"
          >Image
          <span class="label-cursive text-success">- Optional</span></label
        >
        <div
          class="d-flex flex-column align-items-start"
          *ngIf="product.image && !oldImageHidden"
        >
          <img
            id="hiddenImageEdit"
            src="{{ product.image }}"
            (load)="
              productUtilities.replaceSourceImg(product, 'displayedImageEdit')
            "
          />
          <img
            id="displayedImageEdit"
            src="../../../../assets/images/loading.gif"
            class="img-border d-block mb-2"
            alt="No image"
            width="200px"
          />
          <button
            type="button"
            class="btn btn-dark delete-file btn-size"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Delete image"
            (click)="hideOldImage()"
          >
            <i class="bi bi-trash me-1"></i>Delete Image
          </button>
        </div>

        <img
          *ngIf="imagePreview"
          [src]="imagePreview"
          class="img-border d-block img-size"
          [class]="imagePreview ? 'mb-2' : ''"
          alt="No image"
        />

        <div
          id="inputImageDiv"
          class="form-group hide-input-div"
          [class]="!product.image || oldImageHidden ? showInputDiv() : ''"
        >
          <div class="inner-input-div">
            <input
              #inputFile
              class="form-control input-file"
              type="file"
              accept=".png,.jpg,.jpeg,.gif"
              id="formFile"
              formControlName="image"
              [class]="fieldValidator.isValidField('image', productForm)"
              (change)="onFileSelected($event)"
            />
          </div>
          <button
            *ngIf="this.selectedFile"
            type="button"
            class="btn btn-dark delete-file"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Delete image"
            (click)="resetFile()"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
        <div
          class="invalid-feedback show-feedback"
          *ngIf="productForm.get('image')?.errors?.size == false"
        >
          Maximum File Size allowed is 1MB.
        </div>
        <div
          class="invalid-feedback show-feedback"
          *ngIf="productForm.get('image')?.errors?.type == false"
        >
          File Types allowed are: .png, .jpg, .jpeg, .gif.
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          id="descriptionArea"
          style="height: 150px"
          formControlName="description"
          [class]="fieldValidator.isValidField('description', productForm)"
        ></textarea>
        <label for="descriptionArea"
          >Description
          <span class="label-cursive text-success">- Optional</span></label
        >
      </div>

      <!-- PRICE -->
      <div class="form-floating mb-3">
        <input
          id="priceInput"
          type="number"
          min="0.01"
          step="0.01"
          (keydown)="inputUtilities.allowKeyDown($event)"
          class="form-control"
          autocomplete="off"
          formControlName="price"
          [class]="fieldValidator.isValidField('price', productForm)"
          value="{{ product.price | number: '1.2-2' }}"
        />
        <label for="priceInput">Price (PEN)</label>
        <div
          class="invalid-feedback"
          *ngIf="productForm.get('price')?.errors?.required"
        >
          This field is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="productForm.get('price')?.errors?.min"
        >
          Mininum Price allowed is 0.01.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="productForm.get('price')?.errors?.pattern"
        >
          Price must contain between 0-2 decimals.
        </div>
      </div>

      <!-- ACTIVE -->
      <div class="form-check form-switch mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="switchActiveEdit"
          formControlName="active"
        />
        <label class="form-check-label" for="switchActiveEdit">Active</label>
      </div>

      <!-- BUTTONS -->
      <div class="btn-group">
        <button
          type="submit"
          class="btn"
          [class]="
            hasChange && productForm.valid
              ? 'btn-success'
              : 'btn-success disabled'
          "
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="Save Changes"
        >
          <i class="bi bi-save-fill me-md-1 btn-margin-right"></i>
          <span class="d-sm-inline-block d-none">Save Changes</span>
          <span class="d-sm-none d-inline-block">Save</span>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(product)"
        >
          <span
            id="deleteSpinner"
            class="
              spinner-border spinner-delete
              me-md-1
              btn-margin-right
              hide-component
            "
            role="status"
          ></span>
          <i
            id="deleteIcon"
            class="bi bi-trash me-md-1 btn-margin-right delete-icon-show"
          ></i>
          <span class="d-sm-inline-block d-none">Delete Product</span>
          <span class="d-sm-none d-inline-block">Delete</span>
        </button>
        <button
          type="button"
          class="btn btn-dark"
          (click)="productUtilities.returnToList()"
        >
          <i class="bi bi-box-arrow-left me-md-1 btn-margin-right"></i>
          <span class="d-sm-inline-block d-none">Back to List</span>
          <span class="d-sm-none d-inline-block">Back</span>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- LAST MODIFIED -->
<ul class="list-group mb-3" *ngIf="!updatingProduct">
  <li
    class="
      list-group-item
      last-modified
      history-item
      d-flex
      justify-content-between
      align-items-center
    "
  >
    <p class="me-1">
      <i class="bi bi-info-circle me-1"></i>Last Modified at
      <b>{{ lastModified | date: "MMM d, y - h:mm:ss a" }}</b>
    </p>
    <a
      data-bs-toggle="modal"
      data-bs-target="#historyModal"
      id="history"
      class="product-link"
      >History</a
    >
  </li>
</ul>

<!-- HISTORY MODAL -->
<div
  class="modal fade"
  id="historyModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HISTORY</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li
            class="list-group-item history-item"
            *ngFor="let item of product.history.reverse()"
          >
            <p>
              <i
                class="bi me-1"
                [class]="item.type == 'c' ? 'bi-bag-plus' : 'bi-pencil'"
              ></i>
              <span *ngIf="item.type == 'c'">Created at </span>
              <span *ngIf="item.type == 'u'">Updated at </span>
              <b>{{ item.date | date: "MMM d, y - h:mm:ss a" }}</b> by
              <b>{{ item.user }}</b>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
