.list-group-item > p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-modified {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: none;
}

b {
  font-weight: bold;
  color: #55595c;
}

.img-actions {
  width: 260px;
}

.img-action-button {
  width: 50%;
}

.img-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
}

.btn-save {
  display: flex;
  justify-content: center;
}
