.list-group-item > p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-modified {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: none;
}

b {
  font-weight: bold;
  color: #55595c;
}

.btn-save {
  display: flex;
  justify-content: center;
}

/*BUTTON MARGIN: START*/
@media (min-width: 576px) and (max-width: 767px) {
  .btn-margin-right {
    margin-right: 0;
  }
}

@media (min-width: 382px) and (max-width: 575px) {
  .btn-margin-right {
    margin-right: 0.25rem;
  }
}

@media (min-width: 370px) and (max-width: 381px) {
  .btn-margin-right {
    margin: 0 10px;
  }
}

@media (max-width: 369px) {
  .btn-margin-right {
    margin-right: 0;
  }
}
/*BUTTON MARGIN: END*/

/*IMAGE: START*/
#hiddenImageEdit {
  display: none;
}

.btn-size {
  width: 200px;
}
/*IMAGE: END*/
