.login-container {
  max-width: 600px;
  min-height: 440px;
  height: calc(100vh - 20rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 620px) {
  .login-container {
    margin: 0 2rem !important;
  }
}
@media (max-width: 375px) {
  .login-container {
    border-radius: 10px;
    margin: 0 0.5rem !important;
  }
}
.loading-login-background {
  background-color: rgba(255, 255, 255, 0);
}
.login-div {
  max-width: 400px;
}
.logo-width {
  width: 250px;
}
@media (max-width: 575px) {
  .logo-width {
    width: 200px;
  }
}

.register-text {
  font-size: 14px;
}
